// VARIABLE STYLES 

$primary-color: #3E2E49;
$secondary-color: #FFFAFA;

$heading-font: 'Hammersmith One', 'Arial' ;
$body-font: 'Saira Semi Condensed', 'Helvetica' ;



@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

